extends layouts/base
block body
  section
    .container
      .jumbotron
        .row
          .col-sm-8.col-sm-offset-2
            h1 Call us to make an appointment!
            p.h2.
              Or drop in for a visit. Walk ins are welcome, but we can't
              promise you a sport on such short notice.


          .row
            .col-sm-8.col-sm-offset-2
             .h3
                address
                  p 2201 Ft. Campbell Blvd STE 200
                  p Clarksville, TN 37042
