extends layouts/base
block body
  section.gallery
    .container
      .row
        .col-sm-12
          h1 Check out a selection of our work!

      .row
        .col-sm-12
          .title.reset
            .title-wrap
              h2 Short
            hr

      .gallery-imgs
        .row
          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10006622_10151976371326404_307850968_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/1009879_10152014809081404_288210696_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/1011771_10152391857816404_5072260875472932391_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10255615_10152038771901404_5998620974423536573_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10275968_10152049557491404_4429590494706162870_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10290180_10152424914841404_3756165104593368258_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10351886_10152172085306404_9086196106411785378_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10393684_10152350811776404_8535733617640530162_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10393753_10152286716491404_2991506905497136251_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10450746_10152131510751404_5041608594311583693_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10460295_921342407894243_1119489831741289046_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10469900_10152479842066404_4187815486766317199_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10527824_10152218610651404_976698784648608876_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/10609606_10152271027701404_4915075887753971254_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/1383534_10151676860331404_1062974043_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/1533966_10151861596436404_1379682807_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/1654356_10152586909106404_8293149486234875691_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/short/1902887_10152601085166404_2405781040432941556_n.jpg")

        .row
          .col-sm-12
            .title
              .title-wrap
                h2 Medium
              hr

        .row
          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/1010705_10152087259091404_86452607134076295_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/10151362_10152005685341404_523188504_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/10170761_10152035047586404_9194731059318418338_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/10334255_10152154427216404_1689250376258478817_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/10371897_10152458276466404_2954149712081146325_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/10382754_10152093076406404_5376223788056637397_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/10482197_10152446825796404_6657581338941397128_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/10599537_10152454922361404_6717411872679770154_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/10711134_10152391858831404_1681857252479457556_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/1381203_10152271764286404_4142774287084828798_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/1467289_10151785691601404_1787272720_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/1512821_10152499899691404_7258780742902386281_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/medium/1601513_10152477912496404_1279921052171566323_n.jpg")

        .row
          .col-sm-12
            .title
              .title-wrap
                h2 Male
              hr

        .row
          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/male/10342833_10152091859886404_3031058966900737006_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/male/10372781_10152101987556404_8869396788189053442_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/male/10411847_10152149959181404_433311987667406363_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/male/10557336_10152262443171404_6872571102812910086_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/male/1554385_10151856799556404_649171418_n.jpg")


        .row
          .col-sm-12
            .title
              .title-wrap
                h2 Formal
              hr

        .row
          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/10247269_10152073545231404_7026848006267983177_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/10299936_10152372363906404_2683328393859574587_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/10363566_10152149874371404_6508140932756636747_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/10383035_10152384180611404_8197083004536378344_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/10408661_10152590717246404_2320858977855313591_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/1186235_10151683916027081_1313499604_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/13661_10152466411976404_6744259400094052253_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/1383915_10151676458236404_1303220933_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/1891119_10152372361921404_2467367261551683571_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/1969216_10152372363506404_116222534977507687_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/formal/270716_10150254928757432_5756315_n.jpg")

        .row
          .col-sm-12
            .title
              .title-wrap
                h2 Long
              hr

        .row
          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10013606_10151982631451404_1980020063_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/1003532_10151739431901404_1477397821_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/1013242_10152370845621404_538333272099777477_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10365964_10152096878001404_7527236375139537900_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10406627_10152601085321404_1952614490520244007_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10429325_10152601085041404_2793686857925680378_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10450143_10152132768271404_4099215157927634730_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10455204_10152590286006404_3207436579443034963_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10494763_10152168410896404_7201667640487393627_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10615543_10152271025866404_7500678832362363477_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10624741_10152499900231404_7140810945172585048_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10703891_10152401831371404_590453331981571427_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/10897041_10152590273766404_7138378958396623182_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/1383128_10151717000696404_1494088538_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/1535387_10152601085776404_8710544284268358800_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/1604697_10152372362581404_3070075516272823491_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/1800398_10152456580711404_6105480409434115482_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/399774_4109930365783_2012742737_n.jpg")

          .col-sm-4.col-xs-6
            img.img-responsive(src="/img/work/long/996960_10151769102926404_1295961148_n.jpg")
