extends layouts/base
block body
  header
    .header-img-wrap
      img.img-responsive.center-block(src="/img/gold_hair.jpg")
      .message
        img.img-responsive(src="/img/logo_regular.svg")
        hr
        address
              p 2201 Ft. Campbell Blvd STE 200, Clarksville, TN 37042

    .container
      .row
        .col-sm-8.col-sm-offset-2
          h1 Call us to make an appointment.

          a(href="tel:+19316455042")
            button.btn.btn-call.btn-lg (931) 645-5042

          p.h2.
            Or drop in for a visit. Walk-ins are welcome!

          p
            span.hours Hours: Mon - Sat, 9am - 6pm

          address
            p 2201 Ft. Campbell Blvd STE 200
            p Clarksville, TN 37042

  section.services(data-165="background-position: 0px 0px;", data-1600="background-position: 0px -420px;")
    .container
      .row
        .col-sm-12.text-center
          h1 Who We Are, What We Do

      ul.service-boxes.row.text-center
        .col-md-4
          li
            a.services(href="/services")

        .col-md-4
          li
            a.gallery(href="/gallery")

        .col-md-4
          li
            a.team(href="/design-team")

  section.accredations
    .container
      .row.copy
        .col-sm-10.col-sm-offset-1
          .lead-copy
            p.lead.
              Whether you need a complicated up-do for your big night out or
              just a simple high and tight, we’ve got you covered.

            p.
              Our skill and talent is unmatched in Clarksville, and we have the
              Paul Mitchell Signature certification to prove it. Come in and
              receive a custom color designed at our Scruples color bar, or get
              a set of Halo extensions professionally installed.

            p.
              We’re friendly and professional, not to mention great at what we
              do! Come in and see us.

      .row
        .col-sm-6
          img.img-responsive.center-block(src="/img/paul_logo.png")

        .col-sm-6
          img.img-responsive.center-block(src="/img/scruples_logo.png")
