extends layouts/base
block body
  section.our-services
    .container
      .wrap
        .row
          .col-sm-12
            h1.text-center Salon Services

        .row
          .col-sm-10.col-sm-offset-1
            .row.services-list
              ul
                .col-sm-6
                  +service-item("Women's Basic Haircut", "", "$20", false)
                  +service-item("Women's Cut & Style", "", "$35", true)
                  +service-item("Men's Basic Haircut", "", "$15", false)
                  +service-item("Military Men's Haircut", "", "$12", true)
                  +service-item("Children's Haircut", "Under 12 only", "$10", false)
                  +service-item("Foil Highlights", "", "$75", true)
                  +service-item("Partial Highlights", "", "$45", false)
                  +service-item("Color", "", "$50", true)
                  +service-item("Keratin Repair Treatment", "", "$35", false)

                .col-sm-6
                  +service-item("Formal Styles and Up-Do's", "", "$35", true)
                  +service-item("Brow Wax", "", "$12", false)
                  +service-item("Perm", "Includes haircut", "$75", true)
                  +service-item("Keratin Straightening Treatment", "", "$150", false)
                  +service-item("Relaxer", "", "$75", true)
                  +service-item("Makeup", "", "$45", false)
                  +service-item("Japanese Straight Perm", "", "$150", true)
                  +service-item("Corrective Color", "", "$95", false)
                  li.service-item
                    p Extensions
                    p.sub By consultation only

            .footer.row
              .col-sm-12.text-center
                p Prices may vary depending on hair



mixin service-item(title, body, price)
  li.service-item
    p #{title} - <span class="price">#{price}</span>
    p.sub= body
