doctype html
html
  head
    title Lee's Salon - Men and Women's Salon - Military Friendly

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Men and women's haircuts, color, perms, military, up-do's, children, and more.")

    link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="/css/vendor/blueimp-gallery.min.css")
    link(rel="stylesheet", href="/css/vendor/bootstrap-image-gallery.min.css")
    link(rel="stylesheet", href="/css/main.css")


    // modernizr
    // respond.js

  body
    include ../includes/header
    include ../includes/nav
    block body
    include ../includes/footer

    script(src="/js/vendor/jquery-2.1.1.min.js")
    script(src="/js/vendor/bootstrap.min.js")
    script(src="/js/vendor/jquery.blueimp-gallery.min.js")
    script(src="/js/vendor/bootstrap-image-gallery.min.js")
    script(src="/js/main.js")
