footer
  .container
    .row
      .col-sm-6
        p.h3 Site Map
        ul
          li
            a(href="/") Home

          li
            a(href="/") Home

          li
            a(href="/") Home

          li
            a(href="/") Home

      .col-sm-6
        .text-right
          p.h1 Lee's Salon
          p.h2 Call Us
          p.h3
            a(href="tel:9319998888") (931) 999 8888


