nav.navbar.navbar-default.navbar-fixed-top.navbar-sitenav(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar-toggle")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(href="/") Lee's Salon

    #navbar-toggle.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/") Home
        li
          a(href="/gallery.html") Galley of Our Work
        li
          a(href="/services.html") Our Services
        li
          a(href="/contact.html") Contact Us

nav.navbar.phone-navbar.navbar-fixed-top
  .container
    .navbar-right
      ul.nav.navbar-nav
        li
          a(href="tel:+19319998888") 931 999 8888
