nav.navbar.navbar-default.navbar-social()
  .container
    ul.nav.navbar-nav
      li
        a(href="") FB
      li
        a(href="") Insta
      li
        a(href="") Pintr
      li
        a(href="") Twitter
      li
        a(href="") Goo+


nav.navbar.navbar-default.navbar-sitenav(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar-toggle")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(href="/") Lee's Salon
    
    #navbar-toggle.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/") Home
        li
          a(href="/gallery.html") Galley of Our Work
        li
          a(href="/services.html") Our Services
        li
          a(href="/contact.html") Contact Us
