nav.navbar.navbar-default.navbar-social()
  .container
    ul.nav.navbar-nav.icons
      li
        a(href="")
          img.img-responsive(src="/img/fb_icon.png")

      li
        a(href="")
          img.img-responsive(src="/img/pintrest_icon.png")

      li
        a(href="")
          img.img-responsive(src="/img/twitter_icon.png")

      li
        a(href="")
          img.img-responsive(src="/img/gplus_icon.png")

      li
        a(href="")
          img.img-responsive(src="/img/youtube_icon.png")

      li
        a(href="")
          img.img-responsive.map-icon(src="/img/map_icon.svg")
