extends layouts/base
block body
  .container
    .row
      .col-sm-12
        p.lead.
          Welcome to the home of the updated Lee's Salon.  This is
          where we should you all this awesome stuff about us and
          then you'll call us!
