extends layouts/base
block body
  header
    .header-img-wrap
      img.img-responsive.center-block(src="/img/headliner.jpg")

  section.intro
    .container
      .accredations(data-165="top: -300px;", data-700="top: 0px;")
        .row.copy
          .col-sm-10.col-sm-offset-1
            .lead-copy
              p.lead.
                Whether you need a complicated up-do for your big night out or
                you just need a simple high and tight, we’ve got
                you covered.

              p.
                Our skill and talent are unmatched in Clarksville,
                and we’ve got the Paul Mitchell Signature certification to prove it.  Come
                in and get your custom color designed at our Scruples color bar, or
                get a set of [BRAND NAME] extensions professionally installed.

              p.
                We’re friendly and professional, not to mention great at what we
                do! Come in and see us!



        .row
          .col-sm-6
            img.img-responsive.center-block(src="/img/paul_logo.png")

          .col-sm-6
            img.img-responsive.center-block(src="/img/scruples_logo.png")

        .row
          .col-sm-12
            img.img-responsive.center-block(src="//placehold.it/400x156&text=Accredation")

  section.services
    .container
      .row
        .col-sm-12.text-center
          h1 Who We Are, What We Do

      ul.service-boxes.row.text-center
        .col-sm-4
          li
            a.services(href="")

        .col-sm-4
          li
            a.gallery(href="")

        .col-sm-4
          li
            a.team(href="")
