extends layouts/base
block body
  header
    .header-img-wrap
      img.img-responsive.center-block(src="/img/headliner.jpg")

  section.intro
    .container
      .row
        .col-sm-10.col-sm-offset-1
          p.lead.
            Welcome to the home of the updated Lee's Salon.  This is
            where we should you tell all this awesome stuff about us and
            then you'll call us!

      .row.accredations
        .col-sm-4
          img.img-responsive.center-block(src="//placehold.it/300x125&text=Accredation")

        .col-sm-4
          img.img-responsive.center-block(src="//placehold.it/300x125&text=Accredation")

        .col-sm-4
          img.img-responsive.center-block(src="//placehold.it/300x125&text=Accredation")

  section.services
    .container
      ul.service-boxes.row
        .col-sm-4
          li
            a(href="")
              span Services

        .col-sm-4
          li
            a(href="")
              span Gallery

        .col-sm-4
          li
            a(href="")
              span Contact
