footer
  .container
    .row
      .col-sm-6.hidden-xs.hidden-sm
        p.h3 Site Map
        ul
          li
            a(href="/") Home

          li
            a(href="/gallery.html") Gallery

          li
            a(href="/services.html") Services

          li
            a(href="/design_team.html") Design Team

      .col-sm-6
        .text-right
          p.h1 Lee's Salon
          p.h2 Call Us
          p.h3
            a(href="tel:+19316455042") (931) 645 5042
          p.h4.
            2201 Ft. Campbell Blvd. STE 200


