nav.navbar.navbar-default.navbar-social()
  .container
    ul.nav.navbar-nav.icons
      li
        a(target="_blank", href="https://www.facebook.com/pages/Lees-Salon/114037596403")
          img.img-responsive(src="/img/fb_icon.png")

      //li
        a(target="_blank", href="")
          img.img-responsive(src="/img/pintrest_icon.png")

      li
        a(target="_blank", href="https://plus.google.com/113766289106620740162/about")
          img.img-responsive(src="/img/gplus_icon.png")

      //li
        a(target="_blank", href="https://www.youtube.com/results?search_query=lee%27s+salon+clarksville+tn")
          img.img-responsive(src="/img/youtube_icon.png")

      li
        a(target="_blank", href="https://www.google.com/maps/place/Lee's+Salon/@36.607464,-87.42608,17z/data=!3m1!4b1!4m2!3m1!1s0x886529b589542b15:0x8eff52bfcd48f152")
          img.img-responsive.map-icon(src="/img/map_icon.svg")
