ul
    padding 0
    list-style none

header .btn-cta
    font-size 2em

section, footer
    padding-top 4em
    padding-bottom 4em

.btn-call
    oxygen-heavy()
    background-color $btn-call-color
    color $black

.btn-lg
    font-size 36px
