ul
    padding 0
    list-style none

header .btn-cta
    font-size 2em

section
    h1
        font-size 42px
        margin-bottom 1.5em

section, footer
    padding-top 4em
    padding-bottom 4em

.btn-call
    oxygen-heavy()
    background-color $btn-call-color
    color $black
    box-shadow 4px 4px 0 0px darken($gold, 25%)
    position relative
    &:hover, &:active
        box-shadow none
        right -4px
        bottom -4px

.btn-lg
    font-size 36px
