.gallery
    h2
        display: inline-block;
        background: black;
        color: white;
        padding: 5px 0;
        min-width: 200px;
        width: 200px;
        text-align: center;
        position: relative;
        margin: 0;
        z-index: 1000;
        border-radius: 4px;

    .title.reset
        margin-top 2em

    .title
        margin-top 4em
        margin-bottom 2em
        position relative

        hr
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            border-color: black;
            border-width: 1px;
            z-index: 1px;

    .title-wrap
        margin: 0 auto;
        width: 200px;
        z-index: 1000;



    img, a
        display block

    .gallery-imgs
        img
            border 3px solid $black
            box-shadow 2px 5px 5px -2px $black
            margin-left auto
            margin-right auto
            margin-bottom 1em

    .thumb
        border 3px solid $black
        box-shadow 2px 5px 5px -2px $black
        margin-left auto
        margin-right auto
        margin-bottom 1em
