header
    padding-top 4em
    padding-bottom 4em
    text-align center
    display block

    .header-img-wrap
        display inline-block
        border 1px solid $black
        padding 1em

    address
        font-size 22px
