ul
    padding 0
    list-style none

header .btn-cta
    font-size 2em

section
    h1
        color $blue

section, footer
    padding-top 4em
    padding-bottom 4em

.service-boxes
    $url = url('//placehold.it/300x300')
    $dimension = 300px
    li a
        display block
        margin 1em auto
        height $dimension
        width $dimension
        background-image $url
        position relative

        span
            bottom 20px
            width 100%
            text-align center
            position absolute
