$tablet = 768px
$medium = 992px
$large = 1200px

$black = #222
$white = #F8F8F8 

$blue = #00fffa
$nav-active-color = $blue

@import 'header'
@import 'nav'
@import 'components'

body 
    background-image url('/img/bg.jpg')
    background-position center center
    background-attachment fixed


ul 
    list-style none

section 
    h1  
        color $blue 


section, footer 
    padding-top 4em
    padding-bottom 4em


footer 
    background-color $white


.intro 
    background-color $white

