$tablet = 768px
$medium = 992px
$large = 1200px

$black = #222
$white = #F8F8F8

$blue = #00fffa
$nav-active-color = $blue

@import 'header'
@import 'nav'
@import 'components'
@import 'fonts'

body
    background-image url('/img/bg.jpg')
    background-position center center
    background-attachment fixed

footer
    background-color $white

.intro
    background-color $white

.service-boxes
    li a
        display block
        margin 1em auto
        position relative


        $url = url('//placehold.it/225x225')
        $dimension = 225px

        background-image $url
        height $dimension
        width $dimension

        @media screen and (min-width: $tablet)
            $url = url('//placehold.it/300x300')
            $dimension = 300px

            background-image $url
            height $dimension
            width $dimension

        span
            bottom 20px
            width 100%
            text-align center
            position absolute
