$navbar-bg-alpha = rgba(248, 248, 248, 0.7)
$phone-nav-border = $black

.navbar-sitenav
    margin-bottom 0
    border-radius 0
    border none

    background-color $navbar-bg-alpha

    .navbar-nav > li > a
        //border-bottom 1px solid grey
        text-align center

        &hover,
        &active
            border-bottom 1px solid $nav-active-color
            color $nav-active-color

.phone-navbar
    margin-top 50px
    a
        font-size 30px

    background-color $navbar-bg-alpha
    border-bottom 1px solid $phone-nav-border

.navbar-social
    margin-top 100px
    margin-bottom 0
    text-align center
    border-bottom none
    border-radius 0


    .nav > li > a
        padding-left 5px
        padding-right 5px
        padding-top 5px
        padding-bottom 5px

        @media screen and (min-width: $tablet)
            padding-left 10px
            padding-right 10px

    ul.nav.navbar-nav
        display inline-block
        float: none

        li
            float left
            display inline

