.phone-navbar
    margin-top 50px
    a
        font-size 30px

.navbar-social
    margin-top 100px
    margin-bottom 0
    text-align center
    border-bottom none
    border-radius 0

    ul.nav.navbar-nav
        display inline-block
        float: none

        li
            float left
            display inline

.navbar-sitenav
    margin-bottom 0
    border-radius 0

    .navbar-nav > li > a
        border-bottom 1px solid grey
        text-align center

        &hover,
        &active
            border-bottom 1px solid $nav-active-color
            color $nav-active-color
